.details-data {
  padding: 4px;
  background-color: var(--network-bg);
  overflow: scroll;
}

.react-json-view svg {
  height: 0.9em !important;
}

.timestamp {
  height: 24px;
  width: 100%;
  color: var(--text-color);
  font-weight: bold;
}
